In [19]:
!pip3 install pandas scikit-learn numpy
 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

Requirement already satisfied: pandas in /home/frank/code/saamba/.venv/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: scikit-learn in /home/frank/code/saamba/.venv/lib/python3.12/site-packages (1.5.0)
Requirement already satisfied: numpy in /home/frank/code/saamba/.venv/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/frank/code/saamba/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/frank/code/saamba/.venv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/frank/code/saamba/.venv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: scipy>=1.6.0 in /home/frank/code/saamba/.venv/lib/python3.12/site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /home/frank/code/saamba/.venv/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/frank/code/saamba/.venv/lib/python3.12/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: six>=1.5 in /home/frank/code/saamba/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [20]:
# Load the data
# from google.colab import drive
# drive.mount('/content/drive')
file_path = '/content/drive/My Drive/england.csv'
file_path = 'england.csv'
df = pd.read_csv(file_path)
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,home_odds,draw_odds,away_odds,over25_odds,under25_odds
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,A,C Pawson,8.00,5.5,1.33,1.67,2.20
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,H,M Oliver,1.18,7.0,15.00,1.50,2.63
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,D,P Bankes,2.70,3.4,2.55,1.73,2.10
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,H,D Coote,1.33,5.5,9.00,1.53,2.50
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,D,S Attwell,2.20,3.4,3.30,2.10,1.73

In [21]:
# Data Preprocessing
# Convert categorical columns to numerical
df['Date'] = pd.to_datetime(df['Date'], format="%d/%m/%Y")
df['week_day'] = df['Date'].dt.weekday
# Function to replace ':' with '.' and convert to float
def convert_time_to_float(time_str):
    # Split the time string by ':'
    parts = time_str.split(':')
    # Convert hours and minutes to float
    hours = int(parts[0])
    minutes = int(parts[1]) / 60
    # Return the sum of hours and converted minutes as float
    return hours + minutes

# Apply the conversion function to the 'time' column
df['time_in_hours'] = df['Time'].apply(convert_time_to_float)


df['FTR'] = df['FTR'].map({'H': 1, 'D': 0, 'A': -1})
df['HTR'] = df['HTR'].map({'H': 1, 'D': 0, 'A': -1})

df.head(20)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,home_odds,draw_odds,away_odds,over25_odds,under25_odds,week_day,time_in_hours
0,E0,2023-08-11,20:00,Burnley,Man City,0,3,-1,0,2,-1,C Pawson,8.00,5.50,1.33,1.67,2.20,4,20.00
1,E0,2023-08-12,12:30,Arsenal,Nott'm Forest,2,1,1,2,0,1,M Oliver,1.18,7.00,15.00,1.50,2.63,5,12.50
2,E0,2023-08-12,15:00,Bournemouth,West Ham,1,1,0,0,0,0,P Bankes,2.70,3.40,2.55,1.73,2.10,5,15.00
3,E0,2023-08-12,15:00,Brighton,Luton,4,1,1,1,0,1,D Coote,1.33,5.50,9.00,1.53,2.50,5,15.00
4,E0,2023-08-12,15:00,Everton,Fulham,0,1,-1,0,0,0,S Attwell,2.20,3.40,3.30,2.10,1.73,5,15.00
5,E0,2023-08-12,15:00,Sheffield United,Crystal Palace,0,1,-1,0,0,0,J Brooks,3.00,3.30,2.38,2.50,1.53,5,15.00
6,E0,2023-08-12,17:30,Newcastle,Aston Villa,5,1,1,2,1,1,A Madley,1.75,3.75,4.60,1.67,2.20,5,17.50
7,E0,2023-08-13,14:00,Brentford,Tottenham,2,2,0,2,2,0,R Jones,2.75,3.40,2.45,1.73,2.10,6,14.00
8,E0,2023-08-13,16:30,Chelsea,Liverpool,1,1,0,1,1,0,A Taylor,2.90,3.40,2.38,1.53,2.50,6,16.50
9,E0,2023-08-14,20:00,Man United,Wolves,1,0,1,0,0,0,S Hooper,1.33,5.50,9.00,1.62,2.30,0,20.00
10,E0,2023-08-18,19:45,Nott'm Forest,Sheffield United,2,1,1,1,0,1,P Bankes,1.95,3.40,4.00,2.20,1.67,4,19.75
11,E0,2023-08-19,15:00,Fulham,Brentford,0,3,-1,0,1,-1,D Bond,2.70,3.30,2.63,2.10,1.73,5,15.00
12,E0,2023-08-19,15:00,Liverpool,Bournemouth,3,1,1,2,1,1,T Bramall,1.20,7.00,13.00,1.25,4.00,5,15.00
13,E0,2023-08-19,15:00,Wolves,Brighton,1,4,-1,0,1,-1,A Madley,4.00,3.80,1.85,1.53,2.50,5,15.00
14,E0,2023-08-19,17:30,Tottenham,Man United,2,0,1,0,0,0,M Oliver,2.80,3.60,2.38,1.53,2.50,5,17.50
15,E0,2023-08-19,20:00,Man City,Newcastle,1,0,1,1,0,1,R Jones,1.67,4.00,5.00,1.85,2.05,5,20.00
16,E0,2023-08-20,14:00,Aston Villa,Everton,4,0,1,2,0,1,A Taylor,1.70,4.00,4.50,1.73,2.10,6,14.00
17,E0,2023-08-20,16:30,West Ham,Chelsea,3,1,1,1,1,0,J Brooks,3.75,3.50,2.00,1.73,2.10,6,16.50
18,E0,2023-08-21,20:00,Crystal Palace,Arsenal,0,1,-1,0,0,0,D Coote,5.50,4.00,1.60,2.00,1.80,0,20.00
19,E0,2023-08-25,20:00,Chelsea,Luton,3,0,1,1,0,1,R Jones,1.29,5.50,11.00,1.62,2.30,4,20.00

In [22]:
#Encode home team and away team
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['HomeTeam'] = encoder.fit_transform(df['HomeTeam'])
df['AwayTeam'] = encoder.fit_transform(df['AwayTeam'])
df['Referee'] = encoder.fit_transform(df['Referee'])

df.head(20)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,home_odds,draw_odds,away_odds,over25_odds,under25_odds,week_day,time_in_hours
0,E0,2023-08-11,20:00,5,12,0,3,-1,0,2,-1,3,8.00,5.50,1.33,1.67,2.20,4,20.00
1,E0,2023-08-12,12:30,0,15,2,1,1,2,0,1,14,1.18,7.00,15.00,1.50,2.63,5,12.50
2,E0,2023-08-12,15:00,2,18,1,1,0,0,0,0,16,2.70,3.40,2.55,1.73,2.10,5,15.00
3,E0,2023-08-12,15:00,4,11,4,1,1,1,0,1,5,1.33,5.50,9.00,1.53,2.50,5,15.00
4,E0,2023-08-12,15:00,8,9,0,1,-1,0,0,0,22,2.20,3.40,3.30,2.10,1.73,5,15.00
5,E0,2023-08-12,15:00,16,7,0,1,-1,0,0,0,8,3.00,3.30,2.38,2.50,1.53,5,15.00
6,E0,2023-08-12,17:30,14,1,5,1,1,2,1,1,0,1.75,3.75,4.60,1.67,2.20,5,17.50
7,E0,2023-08-13,14:00,3,17,2,2,0,2,2,0,18,2.75,3.40,2.45,1.73,2.10,6,14.00
8,E0,2023-08-13,16:30,6,10,1,1,0,1,1,0,1,2.90,3.40,2.38,1.53,2.50,6,16.50
9,E0,2023-08-14,20:00,13,19,1,0,1,0,0,0,24,1.33,5.50,9.00,1.62,2.30,0,20.00
10,E0,2023-08-18,19:45,15,16,2,1,1,1,0,1,16,1.95,3.40,4.00,2.20,1.67,4,19.75
11,E0,2023-08-19,15:00,9,3,0,3,-1,0,1,-1,4,2.70,3.30,2.63,2.10,1.73,5,15.00
12,E0,2023-08-19,15:00,10,2,3,1,1,2,1,1,26,1.20,7.00,13.00,1.25,4.00,5,15.00
13,E0,2023-08-19,15:00,19,4,1,4,-1,0,1,-1,0,4.00,3.80,1.85,1.53,2.50,5,15.00
14,E0,2023-08-19,17:30,17,13,2,0,1,0,0,0,14,2.80,3.60,2.38,1.53,2.50,5,17.50
15,E0,2023-08-19,20:00,12,14,1,0,1,1,0,1,18,1.67,4.00,5.00,1.85,2.05,5,20.00
16,E0,2023-08-20,14:00,1,8,4,0,1,2,0,1,1,1.70,4.00,4.50,1.73,2.10,6,14.00
17,E0,2023-08-20,16:30,18,6,3,1,1,1,1,0,8,3.75,3.50,2.00,1.73,2.10,6,16.50
18,E0,2023-08-21,20:00,7,0,0,1,-1,0,0,0,5,5.50,4.00,1.60,2.00,1.80,0,20.00
19,E0,2023-08-25,20:00,6,11,3,0,1,1,0,1,18,1.29,5.50,11.00,1.62,2.30,4,20.00

In [37]:
# Select features and target variable
# features = ['HomeTeam',	'AwayTeam', 'home_odds','Referee',	'draw_odds', 'away_odds', 'over25_odds', 'under25_odds','week_day', 'time_in_hours']
# features = ['HomeTeam',	'AwayTeam', 'home_odds','Referee',	'draw_odds', 'away_odds', 'over25_odds', 'under25_odds','week_day', ]
features = ['home_odds','draw_odds','away_odds', 'over25_odds', 'under25_odds','week_day']


target = 'FTR'

X = df[features]
y = df[target]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize and train the model
# model_A = RandomForestClassifier(n_estimators=100, random_state=0)
model_1 = RandomForestClassifier(n_estimators=50, random_state=0)
model_2 = RandomForestClassifier(n_estimators=100, random_state=0)
model_3 = RandomForestClassifier(n_estimators=100,  random_state=42)
model_4 = RandomForestClassifier(n_estimators=200, min_samples_split=20, random_state=0)
model_5 = RandomForestClassifier(n_estimators=100, max_depth=7, random_state=0)

models = [model_1, model_2, model_3, model_4, model_5]
X_test.head()

     home_odds  draw_odds  away_odds  over25_odds  under25_odds  week_day
266       1.25       5.75      11.00         1.36          3.10         6
261       1.91       4.00       3.60         1.53          2.40         5
265       3.75       3.60       1.95         1.67          2.15         6
39        6.00       5.00       1.45         1.53          2.50         5
33        1.40       4.50       8.50         1.73          2.10         5

In [24]:
def mean_absolute_error(y_true, y_pred):
    return np.mean(np.abs(y_true - y_pred))

In [41]:
def score_model(model, X_train=X_train, X_test=X_test, y_train=y_train, y_test=y_test):
    
    model.fit(X_train, y_train)

    preds = model.predict(X_test)
    accuracy = accuracy_score(y_test, preds)
    conf_matrix = confusion_matrix(y_test, preds)
    class_report = classification_report(y_test, preds)

    # Output the evaluation metrics
    print(f'Accuracy: {accuracy}')
    # print('Confusion Matrix:')
    # print(conf_matrix)
    # print('Classification Report:')
    # print(class_report)
    X_test.reset_index()

    for x, y, z in zip(X_test, y_test, preds):
        print(x, y, z)

    return mean_absolute_error(y_test, preds)

In [42]:
mae1 = score_model(model_1)
# mae2 = score_model(model_2)
# mae3 = score_model(model_3)
# mae4 = score_model(model_4)
# mae5 = score_model(model_5)

Accuracy: 0.5263157894736842
1
1
-1
-1
-1
-1